.blog-page{
    float: left;
    width: 100%;
}

/*news standard*/
.news-style-standard{
    float: left;
    width: 100%;
}
.item-blog-news{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}
.img-item-news {
    float: left;
    width: 30%;
    overflow: hidden;
}
.news-style-standard .title-item-news{
    float: left;
    width: 70%;
    padding-left: 30px;
}
.title-item-news{
    float: left;
    width: 70%;
    padding-top: 5px;
}
.title-item-news h2{
    margin-top: 0px;
    margin-bottom: 10px;

}
.title-item-news h2 a {
    font-size: 20px;
    font-family: 'Roboto', serif;
    font-weight: 500;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.author-news{
    margin-left: 10px;
}
.time-news, .author-news {
    color: #af9898;
    font-size: 13px;
}
.time-news i, .author-news i{
    margin-right: 5px;
}
.title-item-news p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto;
}
.btn-view-detail a{
    border-bottom: 1px solid #ccc;
    color: #ccc;
    font-style: italic;
    font-size: 14px;
}
.news-style-standard .col-xs-12:last-child .item-blog-news {
    margin-bottom: 10px;
}

/*blog detail*/
.blog-detail-page{
    float: left;
    width: 100%;
}
.blog-detail-content{
    float: left;
    width: 100%;
}

.blog-detail-content {
    width: 100%;
    float: left;
    color: rgb(51, 51, 51);
    font: 500 15px/21px arial;
    padding: 0px;
}
.blog-detail-content h1.title-blog-detail {
    font: 600 25px/30px arial;
    text-rendering: geometricPrecision;
    margin: 0px 0;
    margin-bottom: 10px;
    padding: 0;
}
.description-blog-detail {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    color: rgb(68, 68, 68);
    font: 700 15px/22px arial;
}
.blog-detail-content h1, .blog-detail-content h2, .blog-detail-content h3, .blog-detail-content h4, .blog-detail-content h5, .blog-detail-content h6 {
    font-weight: 600;
}
.blog-detail-content h2{
    font-size: 18px;
}
.blog-detail-content h3{
    font-size: 16px;
}
.blog-detail-content h4{
    font-weight: 600;
    font-size: 15px;
}
.blog-detail-content img{
    margin: 10px 0px;
}
.newstime {
    font-style: italic;
    color: #ccc;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}
/*end blog detail*/

/*new relate*/
.news-relate{
    float: left;
    width: 100%;
}
.head-news-relate {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    margin-bottom: 9px;
    padding-bottom: 9px;
}
.head-news-relate span{
    border-bottom: 2px solid #333;
    padding-bottom: 7px;
}
.news-relate .row{
    margin: 0px -10px;
}
.item-news-relate {
    border: 10px solid #fff;
    width: 33.33333333333%;
    float: left;
}
.img-news-relate{
    float: left;
    width: 100%;
    position: relative;
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
}
.img-news-relate img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.title-news-relate{
    float: left;
    width: 100%;
}
.title-news-relate h3{
    margin-top: 0px;
    line-height: 15px;
}
.title-news-relate h3 a {
    font-size: 16px;
    line-height: 14px;
}
.time-relate{
    font-style: italic;
    color: #888;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}
.time-relate i{
    margin-right: 6px;
}

@media screen and (max-width: 600px) {
    .img-news-relate {
        float: left;
        width: 100%;
        position: relative;
        height: 150px;
        overflow: hidden;
        margin-bottom: 5px;
    }
    .item-news-relate {
        border: 10px solid #fff;
        width: 100%;
        float: left;
    }
}
/*end new relate*/

/*news-hot*/
.news-hot{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.head-news-hot {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-bottom: 9px;
}
.head-news-hot span{
    border-bottom: 2px solid #333;
    padding-bottom: 7px;
}
.item-news-hot{
    float: left;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ebebeb;
}
.news-hot .item-news-hot:last-child{
    border-bottom: none;
}
.img-news-hot {
    float: left;
    width: 35%;
    height: 80px;
    position: relative;
    overflow: hidden;
}
.img-news-hot img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;

}
.title-news-hot{
    float: left;
    width: 65%;
    padding-left: 15px;
}
.title-news-hot h3{
    margin: 0px;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 3px;
}
.title-news-hot h3 a{
}
.time-hot {
    font-style: italic;
    color: #888;
    float: left;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 3px;
    font-size: 12px;
}
.time-hot i{
    margin-right: 6px;
}
@media screen and (max-width: 992px) {
    .item-news-hot {
        float: left;
        width: 50%;
        padding-right: 15px;
    }
}
@media screen and (max-width: 600px) {
    .item-news-hot {
        float: left;
        width: 100%;
    }
    .owl-news-hot-inmobile .owl-pagination {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .img-news-hot {
        float: left;
        width: 35%;
        height: 100px;
        position: relative;
        overflow: hidden;
    }
}
/*end news-hot*/

/*Video blog*/
.video-blog{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.head-video-blog {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-bottom: 9px;
}
.head-video-blog span{
    border-bottom: 2px solid #333;
    padding-bottom: 7px;
}
.video-blog iframe{
    width: 100%;
}
/*end video blog*/

/*tag blog*/
.hastag{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.hastag .tags{
    float: left;
    padding: 3px 10px;
    background: #f7f7f7;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #847c7c;
}
.tag_title{
    float: left;
    padding: 3px 10px;
    background: #f7f7f7;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #847c7c;
}
.tag_title:hover{
    background: #1a7ac2;
    color: #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -2px, 0);
    -webkit-transform: translate3d(0, -2px, 0);
}
/*end tag blog*/
@media screen and (max-width: 580px) {
    .img-item-news {
        float: left;
        width: 100%;
        margin-bottom: 7px;
        overflow: hidden;
    }
    .img-item-news img{
        width: 100%;
    }
    .news-style-standard .title-item-news {
        float: left;
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .news-style-grid .col-xs-6{
        width: 100%;
    }
    .news-style-grid .img-item-news {
        float: left;
        width: 100%;
        height: initial;
        position: relative;
        overflow: hidden;
    }
    .news-style-grid .img-item-news img {
        object-fit: cover;
        position: relative;
        height: 100%;
        width: 100%;
    }
}
/* end news standard*/


/*news-style-grid*/
.news-style-grid{
    float: left;
    width: 100%;
}
.news-style-grid .item-blog-news{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.news-style-grid .img-item-news{
    float: left;
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
}
.news-style-grid .img-item-news img{
    object-fit: cover;
    position: absolute;
    height: 100%;
}
.news-style-grid .title-item-news{
    float: left;
    width: 100%;
}
.news-style-grid .title-item-news h2{
    margin-top: 5px;
    margin-bottom: 10px;
}
.news-style-grid .title-item-news h2 a{
    font-size: 20px;
    font-family: 'Roboto', serif;
    font-weight: 500;
}
.news-style-grid .time-news{
    float: left;
    width: 100%;
    color: #af9898;
    font-size: 13px;
}
.news-style-grid .time-news i{
    margin-right: 5px;
}
.news-style-grid .title-item-news p{
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 15px;
    line-height: 21px;
}
.news-style-grid .btn-view-detail{
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    background: #000;
    padding: 5px;
    margin-top: 0px;
    display: inline-block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
}
.news-style-grid .btn-view-detail a{
    border: 1px solid #fff;
    padding: 6px 13px;
    display: block;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    background: #000;
    border-radius: 0px;
    margin: 0px;
    color: #fff;
    font-size: 13px;
}
.banner-side-bar{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
@media screen and (max-width: 580px) {
    .news-style-grid .col-xs-6{
        width: 100%;
    }
    .news-style-grid .img-item-news {
        float: left;
        width: 100%;
        height: initial;
        position: relative;
        overflow: hidden;
    }
    .news-style-grid .img-item-news img {
        object-fit: cover;
        position: relative;
        height: 100%;
        width: 100%;
    }
}
/*end news-style-grid*/
.comment-fb-blog{
    float: left;
    width: 100%;
    margin-top: 15px;
}